@CHARSET "UTF-8";

body {
	background: #000;
	color: #fff;
}
.iconDiv {
	float: left;
	cursor: pointer;
	margin: 4px;
	display: none;
}

.iconDivTooltip {
	display: none;
}

.iconPhoto {
	border: solid 4px white;
}

#content {
	//width: 100%;
	padding-top: 20px;
}

#photoListDiv {
	float: left;
	width: 300px;
}

#photoDiv {
	float: left;
	margin-left: 10px;
	height: 590px;
	width : 75%;
	text-align: center;
}

#photoShowDiv {

}