@CHARSET "UTF-8";

body {
	background: #000;
	color: #fff;
}
.iconDiv {
	float: left;
	cursor: pointer;
	margin: 4px;
}

.iconDivTooltip {
	display: none;
}

.iconPhoto {
	border: solid 4px white;
	width: 70px;
	height: 70px;
	background: #ccc url("/gallery/images/spinner.gif") no-repeat center;
}

#content {
	//width: 100%;
	padding-top: 20px;
}

#photoListDiv {
	float: left;
	width: 300px;
}

#photoDiv {
	//float: left;
	margin-left: 10px;
	//height: 590px;
	width : 75%;
	text-align: center;
}

#photoShowDiv {
	margin-left: 320px;
}