@CHARSET "UTF-8";

/*body {
	background: #000;
	color: #fff;
}*/
.iconDiv {
	float: left;
	cursor: pointer;
	margin: 0px;
}

.iconDivTooltip {
	display: none;
}

.iconPhoto {
	border: solid 4px white;
	width: 70px;
	height: 70px;
	background: #ccc url("/gallery/images/spinner.gif") no-repeat center;
}

#content {
	position : relative;
	padding-top: 20px;
}

#photoListDiv {
	float: left;
	width: 235px;
}

#photoDiv {
	margin: auto;
}

#photoShowContainer {
	float: left;
	margin: auto;
	text-align: center;
}

.album-div {
	cursor: pointer;
}

.loginLabel {
	margin : 0px;	
}

.loginInput {
	width: 50px;
	margin: 0px;
}

.